<footer>
    <div class="social">
        <a href="https://www.linkedin.com/in/dylan-babonneau/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.facebook.com/dylan.babonneau/" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/dylan.babonneau/" target="_blank"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="temps">
        <div id="date"></div>
        <div id="heure_exacte"></div>
    </div>
    <div id="copy"></div>
</footer>
<script src="/js/script.js"></script>
