<!DOCTYPE html>
<html lang="fr">
<%- include('./includes/head.ejs'); %>
<body>
    <%- include('./includes/header.ejs'); %>
    <main>
        <div class="box dark">
            <p>Nous n'avons malheureusement pas pu trouver cette page.</p>
        </div>
    </main>
    <%- include('./includes/footer.ejs'); %>
</body>
</html>
